body{ 
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
}

#navBar {
    display: flex;
    align-items: center;
    /* This fine Change Colors if you want */
    background-color: rgb(205, 171, 126);
    margin: -10px;
    margin-bottom: 10px;
}


#logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 25%;
}
/* If anyone thinks the search bar 
needs to bigger feel free to change it  */
#searchBar {
    width:35%;
    height:35px;
}

#submitBtn {
    width:80px;
    height: 40px;
    margin-right: 20%;
}

/* Main.HTML */

#welcome{
    background-image: url("images/cityview.png");
    margin: -10px;
    width: 101.9%;
    height: 1000px;
    display: flex;
    justify-content: center;
    font-size: larger;
    text-decoration: underline;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.about{
    margin-top: 15px;
    display: flex;
    /* This might change some stuff with the column */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about_h1 {
    text-decoration: underline;
}

#abouttext {
    width: 700px;
    font-size: 15px;
    padding-left: 12px;
    padding-right:12px
}

/* City.HTML  */

#newyork_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#miami_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boston_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#losangeles_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#seattle_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#denver_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sanfrancisco_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#alanta_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chicago_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#washingtondc_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}